

<h2>Profile edit</h2>
<% form_with model: @users, local:true do |f| %>

<%=attachment_image_tag @users, :profile_image, :fill, 60, 60, fallback:"no_image.jpg" %>
<label for="InputImage">Profile Image</label>


<label for ="inputName">Name</label>
<%= f.text_field:name, autofocus:true, id:"inputName",placeholder:"Name" %>

<%= f.submit "Update profile" %>
<%  end %>

<html><head>





    <link rel="stylesheet" media="all" href="/assets/application-16605eadccf37c23d1fa922dd614f45b9f2cf25723e2e4032f1975b02ea7d11f.css" data-turbolinks-track="reload">
    <script src="/assets/application-3ac47b8571e58aab844e8d0a988f0f55d8a16c1a75953470343f79cf1bec8528.js" data-turbolinks-track="reload"></script>
  <title>Bookers2-debug</title><meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="PtiL5LLOetjPi34mARW1plr5rG5SIMPVUQ+KbVFpQuLdT7UjcY7BHCYOJgjrPE41sKX6FZvry6FzvfvZW2qz5A=="><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></head>
  <body>
    <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>Bookers</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li><a class="fas fa-home nav-link text-light" href="/users"> Home</a></li>
          <li><a class="fas fa-users nav-link text-light" href="/users"> Users</a></li>
          <li><a class="fas fa-book-open nav-link text-light" href="/books"> Books</a></li>
          <li><a class="fas fa-sign-out-alt nav-link text-light" rel="nofollow" data-method="delete" href="/users/sign_out"> Log out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
      <main>
        <p id="notice"></p>
        <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>
    <form enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="3AiJolKUnnz7l4J6Fj/OGCMjqdF84jSMkftKQ63F3iWgtd9LZT5/d2T12HNDIv4HuZp3TxWBBlnfu04snzcpvA==">

      <div class="form-group">
        <label for="user_name">Name</label>
        <input class="form-control name" type="text" value="" name="user[name]" id="user_name">
      </div>
     <div class="form-group">
        <label for="user_image">Image</label>
        <input value="{}" data-reference="399e778f376ab4dec8b1d5db2a62aa7d" type="hidden" name="user[profile_image]"><input class="form-control-file user_image" data-reference="399e778f376ab4dec8b1d5db2a62aa7d" include_hidden="false" type="file" name="user[profile_image]" id="user_profile_image">
      </div>
      <div class="form-group">
        <label for="user_introduction">Introduction</label>
        <textarea class="form-control introduction" name="user[introduction]" id="user_introduction"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User">
      </div>
</form>  </div>
</div>

      </div></main>
    <footer>
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>

</body>