

<div>
<h3><%=@user.name %></h3>
<%= image_tag('no_image.jpg') %>
</div>
<% if @user.id == current_user.id %>
<p><%=link_to "Profile Edit", edit_user_path(@user) %></p>


<div>
  <p>
  Title:
  </p>
  <p>
  Opinion:
  </p>
  <p>
  name:
  </p>
</div>
<%=link_to books_path  %>
<% end %>
